<div ng-init="tab = 0"></div>

<div class="jumbotron clearfix" ng-show="tab===0">
<br>
    <div class="letter"><h1>First step to join BooksHub!</h1></div>

    <p>

        <form role="form">

            <div class="col-md-4">


                <br>
                <br>
                <br>

                <p>
                    <img src="images/book2.png" alt="BooksHub">
                </p>

            </div>

            </br>
            </br>
            </br>


            <div class="col-md-8" ng-show="tab === 1"></div>
            <div class="col-md-8">


                <form role="form">

                    <br>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="username" placeholder="Username">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="firstName" placeholder="First Name">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="lastName" placeholder="Last Name">
                    </div>


                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="email" class="form-control" id="email" placeholder="Email">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="password" class="form-control" id="password" placeholder="Password">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="password" class="form-control" id="retypepassword" placeholder="Retype Password">
                    </div>

                    <div class="form-group col-sm-12 form-horizontal">
                        <button type="button" class="btn btn-info btn-lg" ng-click="tab=1">User</button>
                        <button type="button" class="btn btn-info btn-lg btn-margin" ng-click="tab=2">Student</button>
                        <button type="button" class="btn btn-info btn-lg" ng-click="tab=3">Company</button>

                    </div>

                </form>


            </div>


        </form>

    </p>

</div>

<!-- Second Part of Form (Company)-->
<div class="jumbotron clearfix" ng-show="tab===3">
    <div class="letter"><h1>Last step to join BooksHub as A Company!</h1></div>

    <p>

        <form role="form">

            <div class="col-md-4">

                <br>
                <br>
                <br>

                <p>
                    <img src="images/book2.png" alt="BooksHub">
                </p>

            </div>


            </br>
            </br>
            </br>


            <div class="col-md-8" ng-show="tab === 1"></div>
            <div class="col-md-8">


                <form role="form">
                    <h4>Please, fill out the rest of the form!</h4>

                    <br>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="company_name" placeholder="Company Name">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="company_city" placeholder="City">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="company_state" placeholder="State">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="email" class="form-control" id="company_address" placeholder="Address">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="password" class="form-control" id="company_email" placeholder="Email">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="password" class="form-control" id="company_number" placeholder="Phone Number">
                    </div>

                    <div class="form-group col-sm-12 form-horizontal">
                        <button type="button" class="btn btn-info btn-lg">Finish Up</button>
                        <button type="button" class="btn btn-info btn-lg btn-margin" ng-click="tab = 0">Take Me Back</button>

                    </div>

                </form>

            </div>

</div>

</form>

</div>

</form>

</p>

</div>



<!-- Second Part of Form (Student)-->

<div class="jumbotron clearfix" ng-show="tab===2">
    <div class="letter"><h1>Finish your Profile or get Searching!</h1></div>

    <p>

        <form role="form">

            <div class="col-md-4">


                <br>
                <br>
                <br>

                <p>
                    <img src="images/book2.png" alt="BooksHub">
                </p>

            </div>


            </br>
            </br>
            </br>


            <div class="col-md-8" ng-show="tab === 1"></div>
            <div class="col-md-8">


                <form role="form">
                    <h4>Almost There!</h4>
                    <br>

                    <!-- ONLY FOR USER & STUDENTS-->
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="state" placeholder="State">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="zipcode" placeholder="ZipCode">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="facebook_url" placeholder="Facebook">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="google_url" placeholder="Google ID">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="institution" placeholder="Institution">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="department" placeholder="Department">
                    </div>

                    <div class="form-group col-sm-12 form-horizontal">
                        <button type="button" class="btn btn-info btn-lg">Finish Up</button>
                        <button type="button" class="btn btn-info btn-lg btn-margin" ng-click="tab = 0">Lets Search</button>

                    </div>

                </form>


            </div>


</div>




</form>


</div>


</form>

</p>

</div>




<!-- Finish-->


<!-- Second Part of Form (User)-->

<div class="jumbotron clearfix" ng-show="tab===1">
    <div class="letter"><h1>Finish your Profile or get Searching!</h1></div>

    <p>

        <form role="form">

            <div class="col-md-4">


                <br>
                <br>
                <br>

                <p>
                    <img src="images/book2.png" alt="BooksHub">
                </p>

            </div>


            </br>
            </br>
            </br>


            <div class="col-md-8" ng-show="tab === 1"></div>
            <div class="col-md-8">


                <form role="form">
                    <h4>Almost There!</h4>
                    <br>

                    <!-- ONLY FOR USER & STUDENTS-->

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="title" placeholder="Title">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="city" placeholder="City">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="state" placeholder="State">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="zipcode" placeholder="ZipCode">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="facebook_url" placeholder="Facebook">
                    </div>
                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="google_url" placeholder="Google ID">
                    </div>

                    <div class="form-group col-md-8 col-md-offset-2">
                        <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar">
                    </div>



                    <div class="form-group col-sm-12 form-horizontal">
                        <button type="button" class="btn btn-info btn-lg">Finish Up</button>
                        <button type="button" class="btn btn-info btn-lg btn-margin" ng-click="tab = 0">Lets Search</button>

                    </div>

                </form>


            </div>


</div>




</form>


</div>


</form>

</p>

</div>




<!-- Finish-->


<!-- Additional Part of Form (User, Student and Company)-->
<div ng-show="tab === 4">
    <form role="form">

        <br>

        <!-- ONLY FOR USER & STUDENTS-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="city" placeholder="City">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="state" placeholder="State">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="zipcode" placeholder="ZipCode">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="facebook_url" placeholder="Facebook">
        </div>
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="twitter_url" placeholder="@Twitter">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="google_url" placeholder="Google ID">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="gravatar_url" placeholder="Gravatar">
        </div>

        <!-- FINISH -->

        <!-- ONLY FOR USER-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="title" placeholder="Title">
        </div>
        <!-- FINISH -->



        <!-- ONLY FOR STUDENT-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="institution" placeholder="Institution">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Department">
        </div>
        <!-- FINISH -->

        <!-- ONLY FOR COMPANY-->
        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="institution" placeholder="Institution">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Department">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Description">
        </div>

        <div class="form-group col-md-8 col-md-offset-2">
            <input type="text" class="form-control" id="department" placeholder="Logo">
        </div>


        <!-- FINISH -->




        <div class="form-group col-sm-12 form-horizontal">
            <button type="button" class="btn btn-info btn-lg">User</button>
            <button type="button" class="btn btn-info btn-lg btn-margin">Student</button>
            <button type="button" class="btn btn-info btn-lg" ng-click="tab=1">Company</button>

        </div>

    </form>

</div>
