<div class="jumbotron clearfix">
    <h1>First step to join BooksHub!</h1>
    <p class="lead">
        <img src="images/book2.png" alt="BooksHub">
        <br>
        <br>Please, fill out the form!
    </p>
    <p>

        <form role="form">

            <br>
            <div class="form-group col-md-8 col-md-offset-2">
                <input type="text" class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group col-md-8 col-md-offset-2">
                <input type="text" class="form-control" id="firstName" placeholder="First Name">
            </div>
            <div class="form-group col-md-8 col-md-offset-2">
                <input type="text" class="form-control" id="lastName" placeholder="Last Name">
            </div>


            <div class="form-group col-md-8 col-md-offset-2">
                <input type="email" class="form-control" id="email" placeholder="Enter email">
            </div>

            <div class="form-group col-md-8 col-md-offset-2">
                <input type="password" class="form-control" id="password" placeholder="Password">
            </div>
            <div class="form-group col-md-8 col-md-offset-2">
                <input type="password" class="form-control" id="retypepassword" placeholder="Retype Password">
            </div>

            <div class="form-group col-sm-12 form-horizontal">
                <button type="button" class="btn btn-info btn-lg">User</button>
                <button type="button" class="btn btn-info btn-lg">Student</button>
                <button type="button" class="btn btn-info btn-lg">Company</button>

            </div>

        </form>

    </p>








</div>
