<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Forgot Password Template Text</title>
	<link rel="stylesheet" href="">
</head>
<body>
	<table>
		<tr>
			<td>
                <h1>Forgot Password</h1>
			</td>
		</tr>
		<tr>
			<td>
                {% block LINK %}
                	*|LINK|*
                	{{ link }}
                {% endblock %}
                <a href="*|SITE_NAME|*/reset_password_url_here/?token=*|RESET_TOKEN|*"> Try me </a>
 			</td>
		</tr>
		<tr>
			<td>
				<h3>This will be the footer!</h3>
			</td>
		</tr>
	</table>
</body>
</html>